body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

section.site {
    background-color: #fff;
    border: 1px solid #E6E6E6;
    margin: 2em auto;
    padding: 2em;
}

footer.site {
    background-color: #333333;
    color: #fff;
    padding: 2em;
}

h1 {
    font-size:2.4em;
    font-weight:bold;
    font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
    font-size: 1.6em;
    font-weight:bold;
}

h3 {
    font-size: 1.4em;
    font-weight:bold;
}

a {
    text-decoration:none;
    color:#999999;
}

a:hover{
    text-decoration:underline
}


#test-module h1 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#test-module .content {
    width: 300px;
    height: 300px;
    overflow-y: auto;
    margin: 2em auto;
}

#test-module nav {
    text-align: center;
    margin: 2em auto;
}

.modal-window {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.modal-window .modal-content,
.modal-window .modal-header {
    padding: 1.5rem;
}

.modal-window .modal-header {
    font-size: 2rem;
    padding-bottom: 0;
}